<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <!--Header-->
    <div><h2 style="font-family: 'Roboto', sans-serif;margin-left: 250px ;font-size: 70px">The</h2>
    <h1 style="font-family: 'Roboto', sans-serif;font-size: 100px">NEW YORKER</h1></div>
    
    <ul>
        <li>
            <a href="">new</a>
        </li>
        <li>
            <a href="">new</a>
        </li>
        <li>
            <a href="">new</a>
        </li>
        <li>
            <a href="">new</a>
        </li>
    </ul>
    <div>
        <a href="">books</a>
    </div>
    <div><a href="">november, 27</a></div>
    <br>
    <div>
        <b>Lorem Ipsum has been the industry's standard dummy </b>
    </div>
    <h2><b>more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum </b>
    </h2>
    <div>by <a href="">hello</a></div>
    <br>
    <br>
    <br>
    <img style="margin-left: 4vw" src="https://image2.tin247.com/pictures/2019/06/08/usb1559976673.jpg" alt="">
    <div style="margin-left: 4vw">many web sites still in their infancy. Various versions have evolved over the years,
        sometimes by accident, sometimes on purpose (injected humour and the like).</div>
    <h6 style="margin-left: 4vw">
        many web sites still in their infancy
    </h6>
    <div>
        "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
        literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
        College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
        going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum
        comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
        Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
        The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32."
    </div>
    <br>
    <div style="margin-left: 4vw">
        <div>software like Aldus PageMaker including versions of Lorem Ipsum.</div>
        <div>software like Aldus PageMaker including versions of Lorem Ipsum.</div>
        <div>software like Aldus PageMaker including versions of Lorem Ipsum.</div>
        <div>software like Aldus PageMaker including versions of Lorem Ipsum.</div>
    </div>
    <br>
    <div>
        <div>
            to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from
            repetition, injected humour, or non-characteristic words etc.
        </div>
        <br>
        <div>
            to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from
            repetition, injected humour, or non-characteristic words etc.
        </div>
    </div>
    <h4> <b>most popular</b></h4>
    <br>
    <ul>
        <li>1.
            <p>
                The generated Lorem Ipsum is therefore always free from
            </p>
            <a href="">The generated Lorem Ipsum is therefore always free from</a>
            <p>By <a href="">The generated</a></p>
        </li>
        <li>2.
            <p>
                The generated Lorem Ipsum is therefore always free from
            </p>
            <a href="">The generated Lorem Ipsum is therefore always free from</a>
            <p>By <a href="">The generated</a></p>
        </li>
        <li>3.
            <p>
                The generated Lorem Ipsum is therefore always free from
            </p>
            <a href="">The generated Lorem Ipsum is therefore always free from</a>
            <p>By <a href="">The generated</a></p>
        </li>
    </ul>

</body>

</html>